.slogan {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.about {
  background-image: url(../img/parallax-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  content: '';
  left: 0;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
  top: 0;

}

.left {
  float: left;
  clear: right;
}

.value-tag {
  box-shadow: 2px 5px 5px #29B6F6;
  background: none;
  border-radius: 10px;
}

.username {
  margin-left: 1%;
  font-size: 1rem;
  color: #29B6F6;
}

#team {
  padding-bottom: 5%;
}


.right-team {
  float: right;
  width: 70%;
  text-align: center;
  background: #29B6F6;
  padding: 1%;
  box-shadow: 2px 5px 5px #888888;
  color: ghostwhite;
  border-radius: 8px;
  margin-top: 2%;
  margin-left: 1%;
}

.hide {
  display: none;
}

@media (max-width: 61.9em)
{
  .right-team {
    width: 100%;
    padding: 2%;
    margin: 2%;
    margin-left: 2%;

  }

  .userimage {
    margin-left: 5%;
  }

  .username {
    margin-left: 5%;
  }
}

.right-team p {
  color: #29B6F6;
}



.value-tag:hover {
  background-color: #29B6F6;
}

.right-tag {
  float: right;
}

.left-tag {
  float: left;
}


.right {
  float: right;
  clear: left;
}

.title {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #29B6F6;
}

#title {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  color: #29B6F6;
}

.card-big-shadow {
    max-width: 100%;
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.card[data-radius="none"] {
    border-radius: 0px;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #ff;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.card:hover {
  box-shadow: 5px 5px 5px #29B6F6;
}

.card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
}
.card .content {
    padding: 20px 20px 10px 20px;
}
.card[data-color="blue"] .category {
    color: #fff;
}

.card .category, .card .label {
    font-size: 14px;
    margin-bottom: 0px;
}
.card-big-shadow:before {
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
h4, .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
h6, .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.card .description {
    font-size: 16px;
    color: #66615b;
}
.content-card{
    margin-top:30px;
}
a:hover, a:focus {
    text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color="blue"] {
    background: #b8d8d8;
}
.card[data-color="blue"] .description {
    color: #506568;
}

.card[data-color="green"] {
    background: #d5e5a3;
}
.card[data-color="green"] .description {
    color: #60773d;
}
.card[data-color="green"] .category {
    color: #92ac56;
}

.card[data-color="yellow"] {
    background: #ffe28c;
}
.card[data-color="yellow"] .description {
    color: #b25825;
}
.card[data-color="yellow"] .category {
    color: #d88715;
}

.card[data-color="brown"] {
    background: #d6c1ab;
}
.card[data-color="brown"] .description {
    color: #75442e;
}
.card[data-color="brown"] .category {
    color: #a47e65;
}

.card[data-color="purple"] {
    background: #baa9ba;
}
.card[data-color="purple"] .description {
    color: #3a283d;
}
.card[data-color="purple"] .category {
    color: #5a283d;
}

.card[data-color="orange"] {
    background: #ff8f5e;
}
.card[data-color="orange"] .description {
    color: #772510;
}
.card[data-color="orange"] .category {
    color: #e95e37;
}

.paragraph {
  padding: 1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
